.th-custom-checkbox {
    width: 54px;
}
.td-custom-checkbox {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    text-align: left;
}

.th-custom-record-id {
    width: 64px;
}

.link-label {
    text-decoration: none !important;
}


#orders_export_btn i.fa {
    margin-right: 4px;
}
#orders_export_dropdown i.fa {
    margin-right: 4px;
    position: relative;
    top: -1px;
}

#modal_shower_columns .row-columns {
    position: relative;
}

#modal_shower_columns .block-loading {
    background: rgba(255, 255, 255, 0.5) url("/theme/images/loaders/circle-32.gif") no-repeat scroll center center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
