/* Site menu */
.site-menu > .site-menu-item {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

.navbar-brand a {
    color: #ffffff;
}

.navbar-brand a:hover {
    text-decoration: none;
}

.panel .summary {
    display: inline-block;
}

.panel-body.no-padding {
    padding: 0;
}

.panel .alert a {
    text-decoration: underline;
}

.panel .alert a:hover {
    text-decoration: none;
}
@media (min-width: 1500px) {
    .col-xl-6 {
        width: 50%;
    }
}
/* Columns */
.th-record-id {
    text-align: left;
    width: 108px;
}

table.table th.th-record-id:first-child {
    width: 86px;
}

div.panel-body table.table th.th-record-id:first-child {
    width: 108px;
}

.th-date {
    text-align: center;
    width: 144px;
}

table.table th.th-date:last-child {
    width: 166px;
}

div.panel-body table.table th.th-date:last-child {
    width: 144px;
}

.th-actions {
    text-align: right;
    width: 150px;
}

.panel-body table.table th.th-actions:last-child {
    width: 128px;
}

div.panel-body table.table th.th-actions:last-child {
    width: 150px;
}

.td-actions {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    text-align: right;
}

/* Pagination */
.panel-footer .pagination {
    margin: 0;
}

.panel-footer .pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 11px;
}

/* Table sortable */
.table-sortable th > a,
.table-sortable th > a.asc,
.table-sortable th > a.desc {
    color: #526069;
    text-decoration: underline;
}

.table-sortable th > a:hover,
.table-sortable th > a.asc:hover,
.table-sortable th > a.desc:hover {
    color: #526069;
    text-decoration: none;
}

.table-sortable th > a.asc::after {
    content: "\f0de";
    top: 4px;
}

.table-sortable th > a.desc::after {
    content: "\f0dd";
    top: -1px;
}

.table-sortable th > a.asc::after,
.table-sortable th > a.desc::after {
    color: #526069;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    position: relative;
    margin-left: 5px;
}

.table-sortable th > a.asc:hover::after,
.table-sortable th > a.desc:hover::after {
    color: #526069;
}

table.table div.empty {
    text-align: center;
}

/* Datetimepicker */
.datepicker-dropdown.dropdown-menu {
    z-index: 1600;
}

/* Breadcrumb */
.page-header .breadcrumb {
    position: static;
    right: 0;
    top: 0;
}

@media (min-width: 768px) {
    .page-header .breadcrumb {
        position: absolute;
        right: 30px;
        top: 40px;
    }
}

tr.tr-vertical-align-middle td {
    vertical-align: middle !important;
}

/* Ссылки в dropdown без подчеркивания */
.table .dropdown-menu a {
    text-decoration: none;
}

/* Remark Checkbox */
.checkbox-custom label {
    cursor: default;
}

.checkbox-custom label::after {
    padding-top: 0;
}

.input-group-file input[type="text"] {
    background-color: #f3f7f9;
}

/* Remark select2 */
.select2-container.select2-container--open {
    z-index: 2000;
}

.link-pager-counter {

}

.link-pager-counter.position-left {
    float: right;
}

ul.pagination + .link-pager-counter.position-left {
    margin-right: 4px;
}

.link-pager-counter.position-right {
    float: right;
    margin-left: 4px;
}

.link-pager-counter .btn {
    padding: 5px 15px 4px;
}

.link-pager-counter.position-left .caret,
.link-pager-counter.position-right .caret {
    border-bottom: 0 none;
    border-top: 4px dashed;
    content: "";
}

.panel.is-collapse .panel-heading + table.table {
    display: none;
    height: 0;
}

/* Bootstrap */
.text-gray {
    color: #d2d6de !important;
}

.text-muted {
    color: #bcc2c8;
}

.modal-body {
    word-wrap: break-word;
}

/* Bootstrap DateTimePicker */
.bootstrap-datetimepicker-widget {
    z-index: 1600;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    background-color: #e4eaec !important;
}

.bootstrap-datetimepicker-widget table tr td.day.old,
.bootstrap-datetimepicker-widget table tr td.day.new {
    color: #a3afb7;
}

.bootstrap-datetimepicker-widget table tr td.day.active,
.bootstrap-datetimepicker-widget table tr span.month.active,
.bootstrap-datetimepicker-widget table tr span.year.active {
    background-color: #358fe4;
    border-color: #2c8ae3;
    color: #ffffff;
}

.bootstrap-datetimepicker-widget table tr td.day:hover,
.bootstrap-datetimepicker-widget table tr span.month:hover,
.bootstrap-datetimepicker-widget table tr span.year:hover {
    background-color: #e4eaec;
}

.bootstrap-datetimepicker-widget table tr td.active:hover,
.bootstrap-datetimepicker-widget table tr span.month:hover,
.bootstrap-datetimepicker-widget table tr span.year:hover {
    background-color: #1d7dd8;
    border-color: #1869b4;
    color: #ffffff;
}

/* Yii debug toolbar */
.yii-debug-toolbar {
    height: 44px !important;
    width: 80px !important;
}

.yii-debug-toolbar.yii-debug-toolbar_active {
    height: 44px !important;
    width: 100% !important;
}

.yii-debug-toolbar.yii-debug-toolbar_active.yii-debug-toolbar_iframe_active {
    height: auto !important;
    width: 100% !important;
}

.yii-debug-toolbar__bar {
    height: 44px !important;
}

.yii-debug-toolbar__toggle {
    right: 0 !important;
    top: 6px !important;
}

.yii-debug-toolbar .yii-debug-toolbar__toggle-icon {
    transform: rotate(180deg) !important;
}

.yii-debug-toolbar.yii-debug-toolbar_active .yii-debug-toolbar__toggle-icon {
    transform: rotate(0deg) !important;
}

.yii-debug-toolbar.yii-debug-toolbar_active.yii-debug-toolbar_iframe_active .yii-debug-toolbar__toggle-icon {
    transform: rotate(90deg) !important;
}

.yii-debug-toolbar__block {
    padding: 5px 8px !important;
}

/* Table */
.tl-fixed {
    table-layout: fixed;
}

.clip, .ellipsis {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.clip {
    text-overflow: clip;
    -o-text-overflow: clip;
}

.link-pager-selector {
    background-color: white;
}

.drop-menu {
    left: -130px;
}

.no-margin-custom-checkbox .checkbox-custom {
    margin-bottom: 0;
    margin-top: 0;
}

.row-hr {
    margin-left: -30px;
    margin-right: -30px;
}

.check-input-holder {
    position: relative;
}

.check-input-holder .checkbox-custom {
    position: absolute;
    bottom: 9px;
    left: 5px;
}

.check-input-holder .checkbox-lg label {
    padding: 0;
}

.check-input-holder .form-control {
    padding-left: 33px;
}

.site-menu {
    overflow-x: hidden;
}

.add-wrap {
    margin: 15px 30px;
}

.add-wrap:after {
    content: '';
    display: block;
    clear: both;
}

.ml15 {
    margin-left: 15px;
}

.mt15 {
    margin-top: 15px;
}

a.asc:after {
    content: "\f186";
}

a.desc:after {
    content: "\f187";
}

a.asc:after, a.desc:after {
    position: relative;
    display: inline-block;
    font-family: 'Web Icons';
    font-style: normal;
    font-weight: normal;
    padding-left: 5px;
}

tr.custom-error > td, td.custom-error {
    background-color: #ffcccc;
}
.pale_red {
    background-color: #fadddd;
}
.pale_green {
    background-color: #b4edd3;
}

.pale_red {
    background-color: #fadddd;
}

.pale_green {
    background-color: #b4edd3;
}
tr.custom-warning > td, td.custom-warning {
    background-color: #ffdfb9;
}

.office-link-nav-tabs {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}

.sendErrorToJira {
    padding-top: 14px;
}

#sendErrorToJira .square {
    background-color: red;
    width: 24px;
    height: 24px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    padding: 5px;
    float: left;
}

#sendErrorToJira .sphere {
    background-color: white;
    width: 13px;
    height: 13px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    display: none;
    z-index: 2000;
    text-align: center;
}
#loading i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -120px;
    font-size: 100px;
    height: auto;
    color: #fff;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }

}

.breadcrumb-fixed {
    position: relative !important;
    text-align: right !important;
    top: 0 !important;
    right: 0 !important;
}

table.table-equal-size th,
table.table-equal-size td {
    width: 50%;
}

.img-responsive {
    width: 100%;
}
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
.row-same-height {
    display: table;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none !important;
}
@media (min-width: 768px) {
    .col-sm-height {
        display: table-cell;
        float: none !important;
    }
    .align-right-sm {
        position: absolute;
        right: 100px;
    }
}
@media (min-width: 992px) {
    .col-md-height {
        display: table-cell;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .right-border-lg {
        border-right: 1px solid #e4eaec;
    }
    .col-lg-height {
        display: table-cell;
        float: none !important;
    }
}

.link-nav-tabs {
    padding-top: 8px;
}

.nowrap {
    white-space: nowrap;
}

.image-50 img, img.image-50{
    max-width: 50%;
}
.image-75 img, img.image-75{
    max-width: 75%;
}
.image-100 img, img.image-100{
    max-width: 100%;
}