.stick > thead > tr {
    background-color: #fff;
    z-index: 1000;
}

.stick-hidden, .stick-hidden > th {
    overflow: hidden !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 0 !important;
    opacity: 0;
    font-size: 0;
}