.list-group {
    margin: 0;
    overflow: hidden;
}

.list-group .list-group-item {
    border-bottom: 0;
}

.list-group:nth-child(1) {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.list-group:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.list-group:last-child .list-group-item {
    border-bottom: 1px solid #e4eaec;
}

.list-group-item {
    border-radius: 0 !important;
}
