a.tr-cell-content {
    color: #76838f;
    text-decoration: none;
}

.tr-cell-content-has-error {
    color: red;
}

a.tr-cell-content:hover {
    color: #76838f;
    text-decoration: none;
}

.checkbox label{
    display: block;
}

.delivery-report-view tr.tr-order-data td:first-child {
    padding-left: 8px !important;
}

.tr-text-align-center td,
.tr-text-align-center th {
    text-align: center !important;
}

.tr-vertical-align-bottom td {
    vertical-align: bottom !important;
}

.tr-vertical-align-top td {
    vertical-align: top !important;
}

.td-vertical-align-middle {
    vertical-align: middle !important;
}

.link-nav-tabs {
    padding-top: 8px;
}
