.user-photo {
    max-width: 50%;
    margin-bottom: 25px;
}
.user-photo img {
    width: 80%;
    height: auto;
    float: left;
}

.user-photo a {
    float: right;
 }

.user-photo a:first-child {
    float: left;
}

.user-photo:after {
    content: '';
    display: block;
    clear: both;
}