.th-custom-checkbox {
    width: 54px;
}
.td-custom-checkbox {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
    text-align: left;
}

.th-custom-record-id {
    width: 64px;
}

.link-label {
    text-decoration: none !important;
}