.control-label {
    display: none;
}

.container-storageproductbarcodes > .labels > label{
    margin: 0;
    padding: 0;
}

.container-storageproductbarcodes {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.container-storageproductbarcodes > .range-collection {
    float: left;
    min-width: 30%;
}

.container-storageproductbarcodes > .padding {
    float: left;
    min-width: 2%;
}