table.charges {
    border: 1px solid black;
    border-spacing: 0px;
    width: 100%;
}

th.charges,
td.charges {
    border: 0.5px solid black;
    font-family: 'Courier New';
    font-size: 10pt;
    text-align: center;
    padding-bottom: 7px;
    padding-top: 7px;
}

table.signature {
    width: 100%;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 10pt;
}

.address {
    font-family: 'Courier New';
    font-size: 10pt;
}

.information {
    font-family: 'Courier New';
    font-size: 10pt;
    font-style: italic;
}

.address-header {
    font-family: 'Courier New';
    font-size: 10pt;
    font-weight: bold;
}

.invoice-header {
    font-family: 'Courier New';
    font-size: 12pt;
    font-weight: bold;
    font-style: italic;
}