.root-group.close-group td {
    background: #eaeaea;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #dddddd !important;
}

.last-in-group td {
    border-bottom: 1px solid #cccccc;
}