#efficiency_detail {
    cursor: pointer;
    float: left;
}

#efficiency_modal .modal-dialog {
    max-width: 80%;
    min-width: 50%;
}

#efficiency_modal .table-responsive {
    max-height: 400px;
    overflow-y: auto;
}

#efficiency_modal .page-summary tr{
    border: 0;
}

.efficiency {
    float: left;
}

.efficiency .wrap {
    float: left;
    margin: 0 5px 0 5px;
    border: 1px solid #ddd;
    width: 55px;
    height: 55px;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    background: #fff;
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-repeat: round;
}

.efficiency .inner {
    background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(19,147,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(19,147,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(19,147,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#139300',GradientType=0 ); /* IE6-9 */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.efficiency div {
    float: left;
    position: relative;
}

.efficiency .text {
    position: absolute;
    z-index: 30;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    margin-bottom: -15px;
    text-align: center;
    color: #555;
}

.efficiency .percent_back{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.efficiency .percent {
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    font-weight: bold;
    color: #555;
    background-color: #eee;
    width: 35px;
    height: 15px;
    font-size: 10px;
    padding: 2px;
    margin: 0;
}
