.inputs-time-range-picker .input-group {
    float: left;
    width: 50%;
}

.inputs-time-range-picker .input-group .form-control {
    text-align: center;
}

.inputs-time-range-picker .input-group:nth-child(1) .form-control {
    border-radius: 0;
}

.inputs-time-range-picker .input-group:nth-child(2) .input-group-addon {
    border-radius: 0;
    border-left: none;
}
