.userdata{
    width:51%;
    margin-left:25%;
}
.clear{
    height: 100px;
}
.rounded{
    border:1px solid #E4EAEC;
    margin-bottom: 15px;
}
.params{
    visibility: hidden;
}
.row, .clear{
    display: none;
}
.footnote{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 50px;
}