.clock {
    height: 66px;
    padding: 0 10px;
    box-shadow: inset 10px 0 10px rgba(255, 255, 255, 0.1);
}

.clock:hover {
    background: #ffffff;
}

.clock .time {
    font-size: 28px;
    font-weight: 100;
    line-height: 28px;
    padding: 10px 0 5px;
    white-space: nowrap;
    width: 68px;
}

.clock .date {
    color: #a3afb7;
    font-size: 12px;
    line-height: 12px;
}
