a.more-icon {
    color: #333 !important;
    text-decoration: none !important;
    font-size: 20px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}
a.more-info {
    color: #333 !important;
    text-decoration: none !important;
}
a.more-info:hover {
    text-decoration: underline !important;
}
a.more-icon:hover {
    text-decoration: none !important;
}
.check-description {
    display: none;
    padding: 20px 22px 10px 22px;
    color: #76838f !important;
}
#checklist_content .btn-success {
    background-color: #46be8a !important;
    border-color: #46be8a !important;
}
.activated {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,0,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,0,1);
    box-shadow: 0px 0px 10px 0px rgba(255,255,0,1);
}
tr.details_holder td {
    padding: 0 !important;
}
tr.details_holder td div {
    display: none;
    padding: 20px 22px 10px 53px;
}
.details_info {
    display: none;
}
.notchecked {
    cursor: default;
}
.total_efficiency{
    font-weight: bold;
}