#country_switcher_dropdown_menu {
    width: 230px;
}

#country_switcher_dropdown_menu .dropdown-menu-header {
    text-transform: uppercase;
}

#country_switcher_searcher {
    border-bottom: 1px solid #e4eaec;
    padding: 6px 10px;
}

#country_switcher_dropdown_menu .media-body > h6 {
    color: #76838f;
    font-weight: 300;
    margin-bottom: 0;
}
