.notification-widget .scrollable-container {
    /*height: 166px;*/
}

.notification-widget .content-notify {
    position: relative;
}

.notification-widget .loader-notifications {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 0;
    text-align: center;
}

.notification-widget .loader-notifications.in-progress {
    height: 100%;
    padding: 110px 0 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.notification-widget .loader-notifications.in-progress .loader {
    margin-left: -19px;
    position: fixed;
}

.notification-widget .empty-notifications {
    color: #cccccc;
    font-size: 16px;
    font-weight: 100;
    padding: 30px 0;
    text-align: center;
}

.dropdown-menu-notifications .media-left {
    vertical-align: middle;
}

.content-notify .media .media-heading {
    white-space: nowrap;
    width: 284px;
    overflow: hidden;
    text-overflow: ellipsis;
}

