.container-selectable-filters {
    margin-left: 66px;
}

.add-selectable-filters,
.remove-selectable-filters,
.not-selectable-filters {
    width: 62px;
}

.not-selectable-filters {
    left: 0;
    margin-left: 15px;
    position: absolute;
}

.relative-selectable-filters {
    position: relative;
}

#container_selectable_filters {
    margin-left: 0;
}

#add_selectable_filters {

}

.form-group-no-margin {
    margin-bottom: 0 !important;
}

.shower-selectable-filters {
    border-bottom: 1px dotted;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    text-decoration: none;
}

.shower-selectable-filters:hover {
    text-decoration: none;
}

.field-numberfilter-number,
.field-termsofshippingfilter-termsofshipping,
.field-deliverytermsfilter-deliveryterms,
.field-textfilter-text {
    display: inline-block;
    float: left;
}

.field-numberfilter-number input[name="NumberFilter[number][]"],
.field-termsofshippingfilter-termsofshipping input[name="TermsOfShippingFilter[termsOfShipping][]"],
.field-deliverytermsfilter-deliveryterms input[name="DeliveryTermsFilter[deliveryTerms][]"],
.field-textfilter-text input[name="TextFilter[text][]"] {
    width: 310px;
}

.remove-selectable-filters[data-filter="number"],
.remove-selectable-filters[data-filter="terms-of-shipping"],
.remove-selectable-filters[data-filter="delivery-terms"],
.remove-selectable-filters[data-filter="text"] {
    margin-left: 30px;
}
