.control-label {
    display: none;
}

.container-storageproduct > .labels > label{
    margin: 0;
    padding: 0;
}

.container-storageproduct {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.container-storageproduct > .range-collection {
    float: left;
    min-width: 30%;
}

.container-storageproduct > .padding {
    float: left;
    min-width: 2%;
}