.catalog-image {
    max-width: 100%;
    margin-bottom: 25px;
}
.catalog-image img {
    width: 80%;
    height: auto;
    float: left;
}

.catalog-image a {
    width: 20%;
    float: right;
    text-align: right;
}

.catalog-image:after {
    content: '';
    display: block;
    clear: both;
}