.field-s-country {
    margin: 0;
    padding: 0;
}

.field-s-country > .form-group {
    margin: 0;
    padding: 0;
}

.container-countrydeliverymultiple > .labels > label{
    margin: 0;
    padding: 0;
}

.container-countrydeliverymultiple {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.container-countrydeliverymultiple > .range-collection {
    float: left;
    min-width: 49%;
}

.container-countrydeliverymultiple > .padding {
    float: left;
    min-width: 2%;
}
