.cropper-panel .preview_big {
    width: 166px !important;
    height: 166px !important;
}

.cropper-panel .preview_small {
    width: 101px !important;
    height: 101px !important;
}

.cropper-panel .wrap-cropper-img {
    width: 368px;
    height: 368px;
}


