.field-s-country {
    margin: 0;
    padding: 0;
}

.field-s-country > .form-group {
    margin: 0;
    padding: 0;
}

.control-label {
    display: none;
}

.container-countrydelivery > .labels > label{
    margin: 0;
    padding: 0;
}

.container-countrydelivery {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.container-countrydelivery > .range-collection {
    float: left;
    min-width: 49%;
}

.container-countrydelivery > .padding {
    float: left;
    min-width: 2%;
}
