.container-selectable-filters {
    margin-left: 66px;
}

.add-selectable-filters,
.remove-selectable-filters,
.not-selectable-filters {
    width: 62px;
}

.not-selectable-filters {
    left: 0;
    margin-left: 15px;
    position: absolute;
}

.relative-selectable-filters {
    position: relative;
}

#container_selectable_filters {
    margin-left: 0;
}

#add_selectable_filters {

}

.form-group-no-margin {
    margin-bottom: 0 !important;
}

.shower-selectable-filters {
    border-bottom: 1px dotted;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    text-decoration: none;
}

.shower-selectable-filters:hover {
    text-decoration: none;
}

.field-fieldnumberfilter-number,
.field-fieldtextfilter-text {
    display: inline-block;
    float: left;
}

.field-fieldnumberfilter-number input[name="FieldNumberFilter[number][]"],
.field-fieldtextfilter-text input[name="FieldTextFilter[text][]"] {
    width: 310px;
}

.remove-selectable-filters[data-filter="field_number_filter"],
.remove-selectable-filters[data-filter="field_text_filter"] {
    margin-left: 30px;
}
