a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: '\e155';
}

a.desc:after {
    content: '\e156';
}

.custom-active {
    background-color: #f3f7f9 !important;
    color: black !important;
}

tr.custom-error > td {
    background-color: #ffcccc;
}

tr.success > td a {
    color: black !important;
}

tr.custom-success > td {
    background-color: #adebad;
}

.custom-info {
    background-color: #f0f1ff !important;
    font-size: 1.3em;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    color: black;
}

.control-label {
    display: block !important;
}

.debts_counter {
    font-size: 30px !important;
    margin-left: 30px;
    display: inline-block;
}

div.debts_counter:after {
    position: relative;
    display: inline-block;
    font-family: 'Web Icons';
    font-style: normal;
    font-weight: normal;
    padding-left: 5px;
}

.view-payments-modal, .view-sum-modal {
    cursor: pointer;
    text-decoration: underline;
}

.view-payments-modal:hover, .view-sum-modal:hover {
    text-decoration: none;
}