.wrap-report-time-sheet {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
}

.wrap-report-time-sheet .table-report {
    width: 100%;
}

.wrap-report-time-sheet .table-report th {
    padding: 3px 3px;
    font-size: 11px;
}
.wrap-report-time-sheet .table-report td {
    padding: 3px 3px;
    min-width: 35px;
}
.wrap-report-time-sheet .table-report .day {
    font-size: 11px;
}
.wrap-report-time-sheet .table-report .total {
    background-color: #b4edd3;
}
.wrap-report-time-sheet .table-report .weekend {
    background-color: #fadddd;
    font-size: 11px;
}
.wrap-report-time-sheet .table-report .holiday {
    background-color: #ffe4b2;
    font-size: 11px;
}
.wrap-report-time-sheet .table-report .report-summary {
    white-space: nowrap;
}

.wrap-report-time-sheet .table-report tr.high-light td {
    background-color: lightgoldenrodyellow;
}