.table-report {
    border-bottom: medium none;
    border-top: medium none;
    font-size: 12px;
    margin-bottom: 0;
}
.table-report tr th {
    text-align: center;
}
.table-report a {
    text-decoration: none;
}

tr.report-summary {
    background-color: #b4edd3 !important;
    color: #333333;
    font-weight: 400;
}

.panel > .table-responsive > .table-report > thead > tr > th:first-child,
.panel > .table-responsive > .table-report > tbody > tr > td:first-child {
    padding-left: 8px;
}
.panel > .table-responsive > .table-report > thead > tr > th:last-child,
.panel > .table-responsive > .table-report > tbody > tr > td:last-child {
    padding-right: 8px;
}


#report_export_box {
    position: absolute;
    right: 30px;
    top: 15px;
}
#report_export_box button i.fa {
    margin-right: 4px;
}
#report_export_box ul.dropdown-menu i.fa {
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.error,
.error:hover {
    background-color: #f96868 !important;
    color: #ffffff !important;
}


#report_grid_delivery table.table-report th,
#report_grid_call_center table.table-report th,
#report_grid_product table.table-report th,
#report_grid_finance table.table-report th {
    text-align: left;
}

.inputGrid {
    width: 100px;
    display: inline;
}

.rowInputGrid {
    width: 130px;
}

tr.custom-green > td {
    background-color: #cbebcb;
}

.status_calls {
    font-size: 12px;
    white-space: nowrap;
    color: darkgrey;
}