body {
    overflow-x: hidden;
}

#report_grid_salary .table-report td.kv-align-right,
#report_grid_salary .table-report tr.kv-group-footer td {
    white-space: nowrap;
}

table.detail-view th {
    width: 50%;
}

table.detail-view td {
    width: 50%;
}

table.table-totals {
    width: 80%;
}
table.table-totals td {
    width: 9%;
}