.wrap-report-operator-workdays {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
}
table.report-operator-workdays th {
    padding: 5px 5px;
    border: 1px solid #e4eaec;
    font-size: 12px;
    text-align: center;
}
table.report-operator-workdays td {
    padding: 5px;
    text-align: center;
    border: 1px solid #e4eaec;
    font-size: 12px;
    white-space: nowrap;
}
table.report-operator-workdays td.green {
    background-color: #ddfade !important;
}
table.report-operator-workdays th:first-child {
    border-left: none;
}