.wrap-report-delivery-terms {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
}
.panel-subtitle {
    display: block;
    padding: 20px 30px;
    font-size: 16px;
    color: #37474f;
}
table.report-delivery-terms th {
    padding: 5px 30px;
    border: 1px solid #e4eaec;
    font-size: 12px;
}
table.report-delivery-terms td {
    padding: 5px;
    text-align: center;
    border: 1px solid #e4eaec;
    font-size: 12px;
    white-space: nowrap;
}
table.report-delivery-terms td.over {
    background-color: #f7baba;
}
table.report-delivery-terms th:first-child {
    border-left: none;
}