#modal_shower_columns .row-header h5 {
    margin-top: 0;
}

#modal_shower_columns .col-require-columns,
#modal_shower_columns .col-choice-columns {
    border-bottom: 1px solid #e4eaec;
    border-top: 1px solid #e4eaec;
    height: 245px;
    overflow-y: auto;
}
