.go-schema {
    border: solid 1px #f1f4f5;
    height: 600px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.go-schema canvas {
    outline: none;
}
