.container-changer-timing {
    width: 100%;
}

.inputs-changer-timing {
    width: 310px;
}

.inputs-changer-timing .input-group {
    float: left;
    width: 50%;
}

.inputs-changer-timing .input-group .form-control {
    text-align: center;
}

.inputs-changer-timing .input-group:nth-child(1) .form-control {
    border-radius: 0;
}

.inputs-changer-timing .input-group:nth-child(2) .input-group-addon {
    border-radius: 0;
    border-left: none;
}

.btn-changer-timing {
    margin-left: 30px;
    width: 62px;
}

#row_delivery_timings .container-changer-timing {
    margin-bottom: 20px;
}

.changer-timing-warning {
    font-style: italic;
    margin-left: 30px;
}
